<!-- g4PageContent -->
<div class="col-lg-10">
  <div class="w3-display-container">
    <img class="img-responsive" src="<%= asset_path 'shoe.jpg' %>">
    <div class="w3-display-topright">
      <p><a href="/client_area/index" class="w3-button w3-padding-large w3-large">ÁREA DE CLIENTE</a></p>
      <p><a href="/order/show" class="w3-button w3-padding-large w3-large">ENCOMENDAS RECENTES</a></p>
      <a href="/order/new" class="w3-button w3-padding-large w3-large">NOVA ENCOMENDA</a>
    </div>
  </div>
</div>

