<style>
  header {
    padding: 5px;
    background-color: black;
  }

  .row.content {height: 450px}

  .navbar {background-color: black;}

  .sidenav {
    padding-top: 30px;
    background-color: black;
    height: 150%;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
  }

  input[type=text]:focus {
    background-color: ghostwhite;
  }

  /*menu horizontal*/
  .navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  /*separação do menu horizontal com o resto*/
#brow{
  padding-top: 30px;
}
  /*caixa de pesquisa*/
    #caixa{
      font-size: 9px;
    }
    /*combobox espaço*/
    #comb{
      padding-top: 8px;
    }

</style>

<!--menu horizontal-->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><img src="<%= asset_path '2.png' %>"></a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li id="comb">
        <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </li>
      <li> <div class="input-group">
        <div class="input-group-btn">
          <!-- Buttons -->
        </div>
        <input type="text" class="form-control" aria-label="..." id="caixa">
      </div>
      </li>

      <li>
        <div class="dropdown" id="comb">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">HTML</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">JavaScript</a></li>
          </ul>
        </div>

      </li>

      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>

































<!--
<div class="container-fluid text-left" id="brow">
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <br><a href="/profile/index">PERFIL</a></br>
      <br><a href="/client_area/index">ÁREA DE CLIENTE</a></br>
      <br>
      <div class="w3-dropdown-hover">
        <a href="#">ENCOMENDAS</a>
        <div class="w3-dropdown-content w3-bar-block w3-card-4">
          <a href="/hold_order/index" class="w3-bar-item w3-button">Encomendas Pendentes</a>
          <a href="#" class="w3-bar-item w3-button">Encomendas para Revisão</a>
          <a href="#" class="w3-bar-item w3-button">Encomendas Concluídas</a>
          <a href="/new_order/index" class="w3-bar-item w3-button">Nova Encomenda</a>
        </div>
      </div>
    </div>
-->
    <div class="col-sm-10">
      <div class="well">
        <h4>Inicio</h4>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true" style="font-size:70px;text-align: center"></span>
            <h4>Nova Encomendas</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <span class="glyphicon glyphicon-folder-open" aria-hidden="true" style="font-size:70px;text-align: center"></span>
            <h4>Encomendas Recentes</h4>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:70px;text-align: center"></span>
            <h4>Novo Utilizador</h4>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <span class="glyphicon glyphicon-book" aria-hidden="true" style="font-size:70px;text-align: center"></span>
            <h4>Notas</h4>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>



