    <!-- g4PageContent -->
    <div class="col-lg-10">

    <header class="w3-display-container w3-content w3-center">
      <div class="img-responsive" <%= link_to image_tag("shoe.jpg"), "http://annstreetstudio.com/tag/heels/" %>>
      <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
        <h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">JOIA DA EUROPA</h1>
        <h5 class="w3-hide-large" style="white-space:nowrap">JOIA DA EUROPA</h5>
        <h3 class="w3-hide-medium w3-hide-small">JOIA DA EUROPA</h3>
<
        <div class="w3-bar w3-light-grey w3-round w3-display-bottommiddle w3-hide-small" style="bottom:-16px">
          <a href="/client_area/index" class="w3-bar-item w3-button">ÁREA DE CLIENTE</a><p></p>
          <a href="/order/show" class="w3-bar-item w3-button">ENCOMENDAS RECENTES</a><p></p>
          <a href="/order/new" class="w3-bar-item w3-button">NOVA ENCOMENDA</a>
        </div>
      </div>
      </div>
    </header>
    </div>
</div>