.navbar {
  margin-bottom: 0;
  background-color: whitesmoke;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.5 !important;
  letter-spacing: 1px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: dimgrey !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: lightslategrey !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.jumbotron {
    background-color: slategrey;
    padding-top: 45px;
    padding-bottom: 10px;
    font-family: Montserrat, sans-serif;
    text-align: center;
}
.w3-sidebar{
    background: whitesmoke;
    padding-bottom: 15%;
    padding-top: 2%;
    font-family: Montserrat, sans-serif;
}
.col-lg-10{
    margin-left: 15%;
}
.w3-bar-item{
    color: dimgrey;
}
.btn {
    border-color: transparent;
    background: white;
    color: dimgrey;
    }
body{
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    text-align: justify;
    position: relative;
}
/*formulário*/
input[type=text] {
    padding: 10px 10px;
    margin: 3px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
/*cabeçalho das tabelas*/
thead{
    background-color: slategrey;
    color: whitesmoke;
}
tbody{
    background-color: transparent;
}
.w3-table{
    margin-left: -20%;
}
/*links*/
a {
    color: white;
}
.glyphicon{
    font-size: 20px;
    color: lightslategrey;
}
.w3-container{
    padding: 15px;
    background: lightslategrey;
}
.w3-bar{
    background-color: lightgrey;
}
.w3-display-topleft{
    color: white;
    padding:24px 48px;
}
.w3-button{
    background-color: black;
}
.w2-button{
    width: 5%;
    background-color: cornflowerblue;
    color: white;
}
.col-md-3{
    text-align: center;
}
.btn{
    background-color: darkgrey;
    color: white;
}
/*rodape*/
.footer{
    font-size: x-small;
}